*{
    margin: 0;
    padding: 0;
}
body{

    background-image: url("p2.jpg");"
    filter: blur(5px);
    backdrop-filter: blur(10px);

}
nav{
    background-color:black;
    color:white;
    padding: 15px;
}
h1{
    font-family: sans-serif;
}
    
    li,h1,ul{
    display: inline;
}

ul{
    margin-left: 40%;
}

li{
    color: gray;
    cursor:pointer;
}

li:hover{
    color:white;
}

input{
    width:60%;
    padding:15px;
}

.searchbar{
    padding: 40px;
    text-align: center;
}
.box{
    background:linear-gradient(rgb(235, 225, 225)50%,rgb(255, 247, 247)50%);
    border-color:black;
    border-width:2px;
    border-style:solid;
    display: inline-block;
    width: 220px;
    height:400px;
}

.box:hover{
    background-color: black;
    color:brown;
}


.products{
    text-align: center;
}

.about{
    background:linear-gradient(rgb(129, 125, 125)50%,rgb(131, 127, 127)50%);
    border-color:black;
    border-width:2px;
    display:flex;
    justify-content: space-between;
    width:70%;
    border-style:solid;
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    margin:10rem auto 0 auto;

}
.about img{
    height:220px;
}
.about h1{
    margin:0;
    color:rgb(114, 24, 24);
    margin-right: 25px; 
}
.about p{
    color:blanchedalmond;
    margin-right: 15px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}